<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaineras.pilliadventuremobile">
    <supports-screens
        android:largeScreens="true"
        android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PillisActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name=".ComicsViewFullScreenActivity"
            android:label="@string/title_activity_comics_view_full_screen"
            android:parentActivityName=".PillisActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaineras.pilliadventuremobile.PillisActivity" />
        </activity>

        <receiver android:name=".services.AlarmReceiver" />
        <receiver
            android:name=".services.BootReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".services.SchedulingUpdateComicService" />

        <activity
            android:name=".EasterEggActivity"
            android:label="@string/title_activity_easter_egg"
            android:parentActivityName=".ComicsViewFullScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kaineras.pilliadventuremobile.ComicsViewFullScreenActivity" />
        </activity>
    </application>

</manifest>
